<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vidor.dao.UserDao"><!-- 全限定名 -->
    <select id="getAllUsers" resultType="User">
        SELECT HOST, USER FROM USER
    </select>
</mapper>